 *{
    box-sizing: border-box;
 }
 
 p{
            color: rgb(255, 128, 0);
            font-size: 20px;
            text-decoration: none;
            margin: 0;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            gap: 30px;
            border: 2px solid black;
        }

        .box{
            width: 100px;
            height: 100px;
            background-color: brown;
            margin: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            color: white;


        }
